[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
#src = {editable = true, path = "./"}
awscli = "*"
python-dotenv = "*"
ipywidgets = "*"

# deps for notebooks and pipelines
boto3 = "*"
trino = "*"
sqlalchemy = "*"
sqlalchemy-trino = "*"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
openpyxl = "*"

anytree = "*"

# OSC utilitiles
osc-ingest-tools = "*"

[requires]
python_version = "3.8"
